:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  --el-color-primary: #56297e;
  --layout-header-background: #56297e;
  --el-color-primary-windi: 52, 52, 206;
  --el-color-primary-light-9: #56297e;
  --el-color-primary-light-8: #56297e;
  --el-color-primary-light-7: #56297e;
  --el-color-primary-light-6: #56297e;
  --el-color-primary-light-5: #56297e;
  --el-color-primary-light-4: #56297e;
  --el-color-primary-light-3: #56297e;
  --el-color-primary-light-2: #56297e;
  --el-color-primary-light-1: #56297e;
  --el-button-active-color: #56297e;
}

html,
body {
  overflow: hidden;
  height: 100%;
}
#app {
  width: 100vw;
  height: 100%;
  overflow: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
